*{
	margin:0;
	padding:0;
	box-sizing:border-box;	
}
body{
	min-height:150vh;
	
}
.tabb a{
  
  
  color:#454543;
  opacity: 0.65;
}
.tabb a:hover{
	
  opacity: 1;
  color: #ffdb0d;
  font-size: 25px;
}

section3{
	position:relative;
	width:100%;
	height:100vh;
	background-image:url(imagesDestination/des1.jpg);
	background-size:cover;
	background-attachment:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	clip-path:circle(180vh at 50% -80vh);
}
section3.content{
	max-width:1000px;
	text-align:center;
	 
}

.to-top{
	background:white;
	position:fixed;
	bottom:16px;
	right:32px;
	width:50px;
	height:50px;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:32px;
	color:#1f1f1f;
	text-decoration:none;
	opacity:0;
	pointer-events:none;
	transition:all .4s;
	
}
.gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: orange;
  bottom: 40px;
  right: 50px;
  border-radius:25px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}