<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="logo" href="static\photos\logo.png" />
    <title>Home | SoilStation</title>

    <!--Link for the css file-->
    <link rel="stylesheet" href="static\Style sheet\styleHome.css" />
    <!-- <link rel="stylesheet" href="static\Style sheet\footer.css" /> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="static\Style sheet\header.css" />
    <link rel="stylesheet" href="static\Style sheet\footer.css" />
  </head>

  <body>
    <!--header section starts -->
    <header>
      <a href="home.html"
        ><img src="static\photos\logo.png" width="250px" height="65px"
      /></a>

      <!--navigation bar-->
      <div class="navw" id="navId">
        <a href="predict.html">Predict</a>
        <a href="history.html">History</a>
        <a href="AboutUs.html">About Us</a>
        <a href="contact.html">Contact</a>
        <a href="login.html">Login</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </header>

    <!--home section starts-->
    <section class="home">
      <div class="word"></div>
      <div class="content">
        <h3>
          <span>SOIL</span>
          <span>IS</span>
          <span>THE</span>
          <span>LIFE</span>
          <span>OF</span>
          <span>PLANTS</span>
        </h3>

        <!-- <h3>SOIL IS THE LIFE OF PLANTS</h3> -->
        <p>
          <span>TO</span>
          <span>A</span>
          <span>BE</span>
          <span>SUCCESSFULL</span>
          <span>FARMER</span>
          <span>ONE</span>
          <span>MUST</span>
          <span>FIRST</span>
          <span>KNOWN</span>
          <span>THE</span>
          <span>NATURE</span>
          <span>OS</span>
          <span>THE</span>
          <span>SOIL.</span>
        </p>
        <h2><span>Soil</span>Station</h2>
      </div>

      <div class="video-container">
        <video
          src="static\photos\video.mp4"
          id="video-slider"
          autoplay
          loop
          muted
        ></video>
      </div>
    </section>
    <!--home section ends-->

    <!--Shop Section starts-->
    <div class="home_page">
      <section class="shop" id="shop">
        <h1 class="head">
          <span>W</span>
          <span>H</span>
          <span>A</span>
          <span>T</span>
          <span class="space"></span>
          <span>I</span>
          <span>S</span>
          <span class="space"></span>
          <span>S</span>
          <span>O</span>
          <span>I</span>
          <span>L</span>
          <span>?</span>
        </h1>

        <div class="sale">
          <h2>Categories of soil</h2>
          <p>Diversity of soil</p>
          <h3>Know what type of soil you have</h3>
          <a href="predict.html" class="btn">Upload Soil</a>
        </div>

        <!--start gallary-->

        <h1 class="headGallery">
          <span>S</span>
          <span>O</span>
          <span>I</span>
          <span>L</span>
          <span>T</span>
          <span>Y</span>
          <span>P</span>
          <span>E</span>
        </h1>

        <div class="box-border">
          <div class="container">
            <a href="predict.html" class="btn"
              ><img src="static\photos\Black.jpg" alt="Avatar" class="image"
            /></a>
            <div class="overlay">Black Soil</div>
          </div>

          <div class="container">
            <a href="predict.html" class="btn"
              ><img src="static\photos\Laterite.jpg" alt="Avatar" class="image"
            /></a>
            <div class="overlay">Laterite Soil</div>
          </div>

          <div class="container">
            <a href="predict.html" class="btn"
              ><img src="static\photos\Peat.jpg" alt="Avatar" class="image"
            /></a>
            <div class="overlay">Peat Soil</div>
          </div>

          <div class="container">
            <a href="predict.html" class="btn"
              ><img src="static\photos\Yellow.jpg" alt="Avatar" class="image"
            /></a>
            <div class="overlay">Yellow Soil</div>
          </div>
        </div>
      </section>
    </div>

    <!--footer section starts-->

    <footer>
      <div class="footer-content">
        <a href="home.html"
          ><img src="static\photos\logo.png" width="250px" height="65px"
        /></a>

        <!-- <p>Hi i'm ramindu jayawaeera</p> -->
      </div>
      <br /><br />

      <!-- social icon -->
      <ul class="social">
        <li>
          <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-github fa-lg"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube fa-lg"></i></a>
        </li>
      </ul>

      <br /><br />

      <div class="footer-menu">
        <ul class="f-menu">
          <li><a href="home.html">Home</a></li>
          <li><a href="predict.html">Predict</a></li>
          <li><a href="history.html">History</a></li>
          <li><a href="AboutUs.html">AboutUs</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
      <div class="bottom-details">
        <div class="bottom_text">
          <span class="copyright_text"
            >Copyright © 2021 <a href="#">SoilStation.</a>All rights
            reserved</span
          >
          <span class="policy_terms">
            <a href="#">Privacy policy</a>
            <a href="#">Terms & condition</a>
          </span>
        </div>
      </div>
    </footer>

    <!--footer section End-->

    <!--footer section ends-->
    <!--back to top-->
    <a class="gotopbtn" href="#"> <i class="fa fa-arrow-up"></i> </a>
    <!--Link for the javascript file-->
    <script src="static\script JS\script.js"></script>
  </body>
</html>
